@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@400;900&display=swap');

body {
    font-size: 24px;
    font-family: 'Fira Sans Condensed', sans-serif;
    text-align: center;
}

.search {
    font-family: 'Roboto', serif;
    width: fit-content;
    margin: auto;
}

.submit {
    align-self: center;
    background-color: whitesmoke;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-style: solid;
    border-color: #dcdcdcda;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    font-family: Neucha, sans-serif;
    font-size: 1rem;
    outline: none;
    width: fit-content;
    height: fit-content;
    padding: 4px 8px;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-radius: 255px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.submit:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}

.submit:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.product {
    border-style: dashed;
    border-radius: 20px;
    border-color: gray;
    display: inline-block;
    margin: 16px;
    vertical-align: text-top;
    width: 400px;
    font-family: "Open Sans", serif;
    color: black;
    text-shadow: 0 0 1.2px gray;
    padding-bottom: 10px;
}

.cart {
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius:12px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    outline: none;
    padding:4px 10px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    will-change: transform;
}

.cart:disabled {
    pointer-events: none;
}

.cart:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.cart:active {
    box-shadow: none;
    transform: translateY(0);
}

.title {
    overflow-wrap: break-word;
    font-weight: bolder;
    text-shadow: 0 0 2px gray;
    color: wheat;
    font-style: unset;
}

a {
    background-color: gold;
    padding-inline: 16px;
    text-decoration: none;
    color: black;
}

a:hover {
    transition-duration: 0.3s;
    background-color: #3e8e41;
    color: azure;
}

.page {
    color: white;
    background-color: grey;
    border-radius: 4px;
    border: solid gray;
}

.page:hover {
    color: black;
    background-color: whitesmoke;
    border-radius: 4px;
    border: solid white;
}