<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Админ-панель</title>
</head>
<body>
<h2>Админ-панель</h2>
<h3>Управление категориями</h3>
<button role="button" type="button" onclick="window.location.href='/category/new'">Создать категорию</button>
<table>
    <tr>
        <th>Наименование</th>
        <th></th>
        <th></th>
    </tr>
    <tr th:each="cat : ${categoryList}">
        <td th:text="${cat.categoryName}"></td>
        <td><a th:href="@{/category/edit/{id}(id=${cat.id})}">Изменить</a></td>
        <td><a th:href="@{/category/delete/{id}(id=${cat.id})}">Удалить</a></td>
    </tr>
</table>
<br>
<h3>Управление товарами</h3>
<button role="button" type="button" onclick="window.location.href='/products/new'">Создать товар</button>
<table>
    <tr>
        <th>Наименование</th>
        <th>Изображение</th>
        <th>Категория</th>
        <th>Цена</th>
        <th>Количество</th>
        <th></th>
        <th></th>
    </tr>
    <tr th:each="prod : ${productList}">
        <td th:text="${prod.title}"></td>
        <td><img th:src="${prod.imageLocation}" height="200"/></td>
        <td th:text="${prod.category}"></td>
        <td th:text="${prod.price}"></td>
        <td th:text="${prod.quantity}"></td>
        <td><a th:href="@{/products/edit/{id}(id=${prod.id})}">Изменить</a></td>
        <td><a th:href="@{/products/delete/{id}(id=${prod.id})}">Удалить</a></td>
    </tr>
</table>
<br>
<h3>Управление пользователями</h3>
<button role="button" type="button" onclick="window.location.href='/users/new'">Создать пользователя</button>
<table>
    <tr>
        <th>Эл. почта</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Роль</th>
        <th>Статус</th>
        <th></th>
        <th></th>
    </tr>
    <tr th:each="user : ${userList}">
        <td th:text="${user.email}"></td>
        <td th:text="${user.firstname}"></td>
        <td th:text="${user.lastname}"></td>
        <td th:text="${user.role}"></td>
        <td th:text="${user.status}"></td>
        <td><a th:href="@{/users/edit/{id}(id=${user.id})}">Изменить</a></td>
        <td><a th:href="@{/users/delete/{id}(id=${user.id})}">Удалить</a></td>
    </tr>
</table>
<br>
<button role="button" type="button" onclick="window.location.href='index'">На главную</button>
</body>
</html>