<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header :: header">
</head>
<body>
<link href="../static/css/cart.css" th:href="@{/css/cart.css}" rel="stylesheet"/>
<button th:if="${cart.size>0}" role="button" type="button" onclick="location.href='/index'" class="main">На главную</button>
<h2 th:if="${cart.size>0}">Корзина</h2>
<h2 th:if="${cart.size==0}">Корзина пуста</h2>
<h3 th:if="${cart.size>0}">Сумма корзины: [[${totalPrice}]]</h3>
<br>
<div th:each="prod : ${cart}" class="product" th:if="${cart.size>0}">
    <p class="title"><a th:text="${prod.title}" th:href="@{/products/{id}(id=${prod.id})}"></a></p>
    <p><img th:src="${prod.imageLocation}" height="200"/></p>
    <p th:text="${prod.price}"></p>
    <p>
    <form method="post" th:action="@{/cart/delete/{id}(id=${prod.id})}">
        <input type="submit" value="Удалить" class="delete">
    </form>
</div>
<button role="button" type="button" onclick="location.href='/index'" class="main">На главную</button>
</body>
</html>