<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Корзина</title>
</head>
<body>

<button role="button" type="button" onclick="window.location.href='index'">На главную</button>
<div>
    Сумма корзины: <span th:text="${totalPrice}"></span>
</div>
<br>
<table>
    <tr>
        <th>Имя</th>
        <th>Изображение</th>
        <th>Категория</th>
        <th>Цена</th>
        <th></th>
    </tr>
    <tr th:each="cart : ${cart}">
        <td><a th:text="${cart.title}" th:href="@{/products/{id}(id=${cart.id})}"></a></td>
        <td><img th:src="${cart.imageLocation}" height="200"/></td>
        <td th:text="${cart.categoryName}"></td>
        <td th:text="${cart.price}"></td>
        <td>
            <form method="post" th:action="@{/cart/delete/{id}(id=${cart.id})}">
                <input type="submit" value="Удалить">
            </form>
        </td>
    </tr>
</table>
</body>
</html>