<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создание пользователя</title>
    <link rel="icon" href="data:,">
</head>
<body>
<form method="post">
    <label for="email">Эл. почта: </label><br>
    <input type="email" id="email" name="email" minlength="1" maxlength="255" required><br>

    <label for="first">Имя: </label><br>
    <input type="text" id="first" name="firstname" minlength="1" maxlength="100" required><br>

    <label for="last">Фамилия: </label><br>
    <input type="text" id="last" name="lastname" minlength="1" maxlength="100" required><br>

    <label for="pass">Пароль: </label><br>
    <input type="password" id="pass" name="password" required><br>

    <label for="role">Роль: </label><br>
    <select id="role" name="role">
        <option th:each="role: ${roles}" th:utext="${role.name()}" th:value="${role.name()}"></option>
    </select><br>

    <label for="status">Статус: </label><br>
    <select id="status" name="status">
        <option th:each="stat: ${statuses}" th:utext="${stat.name()}" th:value="${stat.name()}"></option>
    </select><br>

    <input type="submit" value="Создать">
</form>
</body>
</html>