<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editing</title>
</head>
<body>
<form th:action="@{/products/edit/{id}(id=${productForm.id})}" th:object="${productForm}" method="post">
    <label for="title">Title: </label><br>
    <input type="text" id="title" name="title" th:field="*{title}" required><br>

    <label for="imageLocation">Image Location: </label><br>
    <input type="text" id="imageLocation" name="imageLocation" th:field="*{imageLocation}"><br>

    <label for="category">Категория: </label><br>
    <select id="category" name="category">
        <option th:each="cat: ${categoryList}" th:utext="${cat.categoryName}"
                th:field="*{category}" th:value="${cat.id}"></option>
    </select><br>

    <label for="price">Price: </label><br>
    <input type="number" id="price" name="price" min="0" step=".01" th:field="*{price}" required><br>

    <label for="quantity">Quantity: </label><br>
    <input type="number" id="quantity" name="quantity" min="0" step="1" th:field="*{quantity}"><br>

    <input type="submit" value="Save">
</form>
</body>
</html>