<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Изменение пользователя</title>
</head>
<body>
<form th:action="@{/users/edit/{id}(id=${userForm.id})}" th:object="${userForm}" method="post">
    <label for="email">Эл. почта: </label><br>
    <input type="email" id="email" name="email" th:field="*{email}" min="1" max="255" required><br>

    <label for="first">Имя: </label><br>
    <input type="text" id="first" name="firstname" th:field="*{firstname}" min="1" max="100" required><br>

    <label for="last">Фамилия: </label><br>
    <input type="text" id="last" name="lastname" th:field="*{lastname}" min="1" max="100" required><br>

    <label for="role">Роль: </label><br>
    <select id="role" name="role">
        <option th:each="roles: ${roles}" th:utext="${roles.name()}"
                th:field="*{role}" th:value="${roles}"></option>
    </select><br>

    <label for="status">Статус: </label><br>
    <select id="status" name="status">
        <option th:each="stat: ${statuses}" th:utext="${stat.name()}"
                th:field="*{status}" th:value="${stat}"></option>
    </select><br>

    <input type="submit" value="Сохранить">
</form>
</body>
</html>