<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Изменение категории</title>
</head>
<body>
<form th:action="@{/category/edit/{id}(id=${categoryForm.id})}" th:object="${categoryForm}" method="post">
    <label for="name">Наименование: </label><br>
    <input type="text" id="name" name="categoryName" th:field="*{categoryName}" minlength="1" maxlength="32" required><br>

    <input type="submit" value="Сохранить">
</form>
</body>
</html>