<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Spring shop</title>
</head>
<body>

<button sec:authorize="hasAuthority('ADMIN')" role="button" type="button" onclick="window.location.href='admin'">
    Перейти в админ-панель  <!--  Кнопка видна только для юзеров с authority ADMIN  -->
</button>
<button role="button" type="button" onclick="window.location.href='cart'">Корзина</button>
<br>
<form th:action="@{/search}">
    <label for="category">Категория</label>
    <select id="category" name="category">
        <option selected="selected" value="" th:text="Любая"></option>
        <option th:each="cat: ${categoryList}" th:utext="${cat.categoryName}"></option>
    </select>

    <input type="search" name="title" id="search">
    <label for="search">Запрос</label>

    <input type="submit" value="Поиск!">
</form>
<br>

<table>
    <tr>
        <th>Имя</th>
        <th>Изображение</th>
        <th>Категория</th>
        <th>Цена</th>
        <th></th>
    </tr>
    <tr th:each="prod : ${productPaginated}">
        <td><a th:text="${prod.title}" th:href="@{/products/{id}(id=${prod.id})}"></a></td>
        <td><img th:src="${prod.imageLocation}" height="200"/></td>
        <td th:text="${prod.categoryName}"></td>
        <td th:text="${prod.price}"></td>
        <td>
            <form method="post" th:action="@{/cart/new/{id}(id=${prod.id})}">
                <input type="submit" value="В корзину">
            </form>
        </td>
    </tr>
</table>

<div th:if="${totalPages > 1}">
    <span th:each="i: ${#numbers.sequence(1, totalPages)}">
      <a th:if="${pageNo != i}" th:href="@{'/' + ${i}}">[[${i}]]</a>
      <span th:unless="${pageNo != i}">[[${i}]]</span></span>

    <a th:if="${pageNo < totalPages}" th:href="@{'/' + ${pageNo + 1}}">След.</a>
    <span th:unless="${pageNo < totalPages}">След.</span>

    <!--    <a th:if="${pageNo > 0}" th:href="@{'/' - ${pageNo + 1}}">Previous</a>-->
    <!--    <span th:unless="${pageNo > 0}">Previous</span>-->
</div>
</body>
<br>
<form method="post" th:action="@{/logout}">
    <input type="submit" value="Выйти">
</form>
</html>