<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header :: header">
</head>
<body>
<link href="../static/css/index.css" th:href="@{/css/index.css}" rel="stylesheet"/>
<form th:action="@{/search}" class="search">
    <label for="category">Категория</label>
    <select id="category" name="category">
        <option selected="selected" value="" th:text="Любая"></option>
        <option th:each="cat: ${categoryList}" th:utext="${cat.categoryName}"></option>
    </select>

    <label for="search">Запрос</label>
    <input type="search" name="title" id="search" maxlength="255">

    <input type="submit" value="Поиск!" class="submit">
</form>
<br>

<!--<table>-->
<!--    <tr>-->
<!--        <th>Имя</th>-->
<!--        <th>Изображение</th>-->
<!--        <th>Категория</th>-->
<!--        <th>Цена</th>-->
<!--        <th></th>-->
<!--    </tr>-->
<!--    <tr th:each="prod : ${productPaginated}">-->
<!--        <td class="title"><a th:text="${prod.title}" th:href="@{/products/{id}(id=${prod.id})}"></a></td>-->
<!--        <td><img th:src="${prod.imageLocation}" height="200"/></td>-->
<!--        <td th:text="${prod.categoryName}"></td>-->
<!--        <td th:text="${prod.quantity != 0} ? ${prod.price} : 'Нет в наличии'"></td>-->
<!--        <td>-->
<!--            <form method="post" th:action="@{/cart/new/{id}(id=${prod.id})}" th:if="${prod.quantity > 0}">-->
<!--                <input type="submit" value="В корзину">-->
<!--            </form>-->
<!--        </td>-->
<!--    </tr>-->
<!--</table>-->
<div th:each="prod : ${productPaginated}" class="product">
    <p class="title"><a th:text="${prod.title}" th:href="@{/products/{id}(id=${prod.id})}"></a></p>
    <p><img th:src="${prod.imageLocation}" height="200"/></p>
    <p th:text="${prod.quantity != 0} ? ${prod.price} : 'Нет в наличии'"></p>
    <p>
    <form method="post" th:action="@{/cart/new/{id}(id=${prod.id})}" th:if="${prod.quantity > 0}">
        <input type="submit" value="В корзину" class="cart">
    </form>
</div>

<div th:if="${totalPages > 1}">
    <span th:each="i: ${#numbers.sequence(1, totalPages)}">
      <a class="page" th:if="${pageNo != i}" th:href="@{'/' + ${i}}">[[${i}]]</a>
      <span th:unless="${pageNo != i}">[[${i}]]</span></span>

    <!--    <a th:if="${pageNo < totalPages}" th:href="@{'/' + ${pageNo + 1}}">След.</a>-->
    <!--    <span th:unless="${pageNo < totalPages}">След.</span>-->
</div>
</body>
</html>