<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <title>Логин</title>
    <link rel="icon" href="data:,">
    <link href="/css/login.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<h2>techno store project by <a th:text="defuname" href="https://github.com/defaultuname" class="link"></a></h2>
<button role="button" type="button" onclick="window.location.href='register'" class="button">Не зарегистрированы?</button>
<form method="post" action="/login">
    <h3>Логин</h3>
    <p>
        <label for="username">Эл.почта</label>
        <input type="text" id="username" name="username" placeholder="Эл. почта" maxlength="255" required>
    </p>
    <p>
        <label for="password">Пароль</label>
        <input type="password" id="password" name="password" placeholder="Пароль" required>
    </p>
    <button type="submit" class="save">Войти</button>
</form>
<h3 th:text="${msg}"></h3><br>
</body>
</html>