<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
<form method="post">
    <label for="email">Эл. почта: </label><br>
    <input type="email" id="email" name="email" minlength="1" maxlength="255" required><br>

    <label for="firstname">Имя: </label><br>
    <input type="text" id="firstname" name="firstname" minlength="1" maxlength="100" required><br>

    <label for="lastname">Фамилия: </label><br>
    <input type="text" id="lastname" name="lastname" minlength="1" maxlength="100" required><br>

    <label for="password">Пароль: </label><br>
    <input type="password" id="password" name="password" required><br>

    <input type="submit" value="Регистрация">
</form>
</body>
</html>