<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Creating</title>
</head>
<body>
<form method="post">
    <label for="email">Email: </label><br>
    <input type="email" id="email" name="email" required><br>

    <label for="firstname">Firstname: </label><br>
    <input type="text" id="firstname" name="firstname" required><br>

    <label for="lastname">Lastname: </label><br>
    <input type="text" id="lastname" name="lastname" required><br>

    <label for="password">Password: </label><br>
    <input type="password" id="password" name="password" required><br>

    <input type="submit" value="Register">
</form>
</body>
</html>